 .poster{
     width: 100%;
     min-width: 14rem;
     height: 7.26rem;
     position: relative;
}

.poster img{
	position: absolute;
     width: 100%;
     min-width: 14rem;
     height: 7.26rem;
	z-index: -1;
}

 .introduce_l{
     width: 7rem;
}
 .poster_info{
     width: 7.82rem;
     height:0.82rem;
     padding: 0.18rem 0 0.2rem;
     overflow: hidden;
     position: absolute;
     bottom: -0.6rem;
     left: 50%;
     margin-left: -3.91rem;
     background-color: #fff;
     border-radius: 0.1rem;
     text-align: center;
     box-shadow:0px 7px 15px 2px rgba(0, 0, 0, 0.07);
}
 .poster_info li {
     width: 50%;
     font-size: 0.18rem;
     color: #e5e5e5;
     height: 0.82rem;
     line-height: 0.38rem;
}
 .poster_info li div{
     color: #000000;
     font-weight: bold;
     font-size: 0.2rem;
}
 .poster_info .bor{
     border-right: 0.01rem solid #e5e5e5;
     margin-right: -0.01rem;
     color: #676767;
}
 .introduce_title{
     font-size: 0.44rem;
     font-family: "Microsoft YaHei";
     color: rgb( 52, 52, 52 );
     font-weight: bold;
     text-align: center;
     padding: 1.5rem 0 0.46rem;
}
 .introduce{
     height: 5.84rem;
     padding: 1.76rem 0 1.28rem;
     background: #ff274f;
     color: #fff;
     font-size: 0.3rem;
     line-height: 1;
     overflow: hidden;
}
 .introduce h4{
     line-height: 0.42rem;
     margin-bottom: 1rem;
}
 .introduce button{
     border: 1px solid #fff;
     border-radius: 0.21rem;
     height: 0.4rem;
     background: transparent;
     width: 1.1rem;
     text-align: center;
     color: #fff;
     margin-left: 0.06rem;
     vertical-align: middle;
     font-size: 0.24rem;
}
 .introduce h2 {
     font-size: 0.52rem;
     margin-bottom: 0.18rem;
}
 .introduce p{
     font-size: 0.24rem;
     margin-bottom: 0.4rem;
}
 .types li{
     float: left;
     margin-right: 0.56rem;
     text-align: center;
}
 .types li div{
     width: 1.12rem;
     height: 1.12rem;
     border-radius: 50%;
     border: 1px solid #fff;
     margin-bottom: 0.15rem;
}
 .types li div img{
	 width: 0.48rem;
	 height: 0.48rem;
	 margin: 0.32rem;
 }
 
 .types li:nth-of-type(2) div{
     background-color: #fff;
}
 .download a{
     display: inline-block;
     background-color: rgb( 255, 255, 255 );
     width: 1.12rem;
     height: 0.4rem;
     text-align: center;
     font-size: 0.18rem;
     line-height: 0.4rem;
     border-radius: 0.2rem;
     color: #f00;
}
 .introduce img{
     width: 6.9rem;
     height: 8.26rem;
}
 .introduce1{
     padding:1.7rem 0 0;
     height: 7.1rem;
     color: #000;
     background: url(../img/shasow.png) repeat-x 0 bottom ;
}
 .introduce1 img{
     width: 6.36rem;
     margin-top: -1.2rem;
}
 .introduce1_info{
     width: 7.2rem;
     height: 6.4rem;
     background: #fff;
}
 .introduce1_info h2{
	 margin-bottom: 0.48rem;
 }
 .introduce1 p {
     font-size: 0.18rem;
     color: rgb( 103, 103, 103 );
     line-height: 1.786;
     margin-bottom: 0;
}
 .introduce1 p strong{
     font-weight: bold;
}
 .introduce1 .download a{
     margin-top: 1.46rem;
     border-color: #ff274f;
     background-color: #ff274f;
     color: #fff;
}
 .vision{
     background: url(../img/img.png) no-repeat 0 0;
     background-size: 100%;
     height: 6.44rem;
}
 .introduce_title1{
     margin-top: 0.9rem;
}
 .swiper-container {
     width:100%;
     min-width: 14rem;
     height: 6.44rem;
}
 .swiper-button-prev{
     background-image: url(../img/left.png);
     left: 1.56rem;
     width: 0.32rem;
     height: 0.36rem;
}
 .swiper-button-next{
     background-image: url(../img/right.png);
     right: 1.56rem;
     width: 0.32rem;
     height: 0.36rem;
}
 .swiper-pagination-bullet-active{
     background: #fff;
}
 .news {
     color: #343434;
     background-color: #f7f7f7;
     margin-bottom: 0.9rem;
}
 .news .fl{
     width: 7rem;
}
 .news img{
     width: 100%;
     height: 3.04rem;
}
 .news p{
     line-height: 0.22rem;
     color: #676767;
}
 .left_info{
     background-color: #e1e1e1;
     height: 2.52rem;
     padding: 0.28rem 1.3rem 0 0.9rem ;
     width: 100%;
     box-sizing: border-box;
}
 .left_info div{
     font-size: 0.24rem;
     font-weight: bold;
     line-height: 0.34rem;
     margin: 0.14rem 0 0.64rem;
}
 .left_info a{
     font-size: 0.24rem;
     line-height: 1;
     color: rgb( 52, 52, 52 );
     padding-right:0.42rem ;
     background: url(../img/rightG.png) no-repeat right 0.04rem;
     background-size: 0.14rem 0.24rem;
}
 .news_right{
     padding-top: 0.76rem;
     color: #343434;
     font-size: 0.2rem;
}
 .news_right li p{
     line-height: 0.3rem;
     margin-bottom: 0.02rem;
}
 .news_right li {
     padding:0 0 0.36rem 0.28rem;
     background:#f7f7f7 url(../img/timeline.png) no-repeat 0 -168px;
}
 .news_right .first{
     background-position-y: 0;
}
 .news_right .last{
     background-position-y: -366px;
}
 
 
 /* download部分 */
.download_box{
	height: 6.8rem;
	padding-top: .42rem;
	background-color: #ff274f;
	overflow: hidden;
}
.download_info{
	margin-top: 2.54rem;
	color: rgb( 254, 254, 254 );
	font-size: 0.16rem;
}
.download_info img{
	width: 2.62rem;
	height: 0.94rem;
	margin-bottom: 0.14rem;
}
.wordSpace {
	letter-spacing: 1.16em;
}
.button a{
	display: block;
	border-radius: .1rem;
	background-color: rgb( 255, 255, 255 );
	width: 2.34rem;
	height: 0.58rem;
	line-height: 0.58rem;
	font-size: 0.16rem;
	color: rgb( 255, 39, 79 );
	text-align: center;
	margin:0 0 0.12rem 0.5rem; 
}
.button a span{
	display: inline-block;
	width: 1.2rem;
	text-align: right;
}

.download_info .button img{
	width: 0.18rem;
	height: 0.2rem;
	vertical-align: middle;
	margin-bottom: 0;
	
}
.download_box img.fr{
	width: 7.3rem;
	height: 6.8rem;
}
.download_header{
	padding-bottom: 1.46rem;
	font-size: 0.24rem;
	color: rgb( 85, 85, 85 );
}
.download_header h2{
	width: 3rem;
	font-size: .52rem;
	color: rgb( 0, 0, 0 );
	line-height: .56rem;
}
.download_header img{
	width: 0.56rem;
	height: 0.56rem;
	margin-left: 0.48rem;
}


.functions .stores{
	padding: 1.1rem 0;
	background: #f7f7f7;
}
.functions .user{
	padding: 1.1rem 0;
}
.function li{
	width: 1.5rem;
	margin-right: 2.65rem;
	float: left;
	text-align: center;
}
.function li.nomar{
	margin-right: 0;
}
.function img{
	height: 1.2rem;
	margin-bottom: .5rem;
}
/* duty社会责任 */
.introduce_title_smail{
	font-size: 0.24rem;
	color: rgb( 85, 85, 85 );
	text-align: center;
	
}

.introduce_title_duty{
	padding-bottom: 0.2rem;
}

.introduce_title_smail p{
	display: inline-block;
	width: 0.3rem;
	height: 1px;
	background-color: #fe2143;
	margin: 0.6rem 0 1.1rem;
}
.dutycontent {
	height: 7.2rem;
}
.dutycontent li p{
	font-size: 0.24rem;
	padding-top: 0.18rem;

}
.dutycontent1 {
	position: relative;
	color: #fff;
}

.dutycontent1 .introduce_title_smail,
.dutycontent1 .introduce_title{
	
	color: #fff;
}
.dutycontent li{
	width: 33%;
	text-align: center;
}
.dutybg{
	width: 100%;
	height: 7.2rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.dutycontent li img{
	height: 0.78rem;
}

/* 加入我们 */

.join_us{
	position: relative;
	height: 7.2rem;
}
.join_us .bigword{
	width: 3rem;
	padding: 2.2rem 0 0 1.5rem;
	text-align: center;
}
.join_us .bigword h2{
	font-size: 0.58rem;
	font-weight: bold;
	line-height: 0.7rem;
	margin-bottom: 0.72rem;
}
.join_us .bigword a{
	display: inline-block;
	background-image: -moz-linear-gradient( 0deg, rgb(255,23,104) 0%, rgb(255,0,0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(255,23,104) 0%, rgb(255,0,0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,23,104) 0%, rgb(255,0,0) 100%);
	width: 1.58rem;
	height: 0.44rem;
	line-height: 0.44rem;
	margin: 0 auto;
	border-radius:0.22rem ;
	color: #fff;
	font-size: 0.12rem;
}
.join_us_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 7.2rem;
	z-index: -1;
}
.joinimg img{
	width: 6.84rem;
	height: 2.5rem;
	margin-bottom: 0.6rem;
}
.say {
	width: 13.72rem;
	padding: 0.26rem;
	margin: 0 auto 1.15rem;
	border: 1px solid #b3b3b3;
	border-radius: 0.12rem;
	position: relative;
	
}
.say_title {
	width: 150px;
	height:16px;
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	background: #fff url(../img/dot.png) no-repeat 0 4px;
	background-size: contain;
	-moz-background-size:contain;
	-webkit-background-size :contain;
	position: absolute;
	left: 50%;
	top: -8px;
	margin-left: -75px;
}
.say_left {
	padding:.16rem 0 .16rem 1.26rem;
	width: 5.32rem;
	background-color: #f5f5f5;
	margin-right: 0.26rem;
}
.say_left .say_box{
	float: left;
	color: rgb( 52, 52, 52 );
	font-size: 0.12rem;
	text-align: center;
}
.say_box div{
	height: 0.6rem;
}
.say_left .box1{
	width: 0.6rem;
	margin-right: 0.54rem;
}
.say_left .box2{
	width: 1.2rem;
	margin-right: 0.4rem;
}
.say_left .box3{
	width: 1rem;
}
.say_left .box1 span{
	display: inline-block;
	width: 0.48rem;
	height: 0.48rem;
	margin-bottom: 0.12rem;
	background-color: #dcdcdc;
	border-radius: 0.1rem;
}
.say_left strong{
	font-size: 0.26rem;
}
.say_left .box1 strong{
	font-weight: bold;
	font-size: 0.12rem;
	color: rgb(52,52,52);
}

.say_left .box2 div{
	color: rgb( 255, 0, 0 );
	font-size: .26rem;
}
.say_right{
	width: 6.7rem;
	padding-top: .1rem;
}
.say_right img{
	width: 0.74rem;
	height: 0.74rem;
	background-color: #E1E1E1;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius: 50%;
	margin-right: 0.16rem;
}
.say_right div{
	font-size: 0.16rem;
	color: rgb( 52, 52, 52 );
	line-height: 1.4;
	width:5.6rem;
	padding-top: .06rem;
}

.join_get{
	background-color: #f9f9f9;
	padding-bottom: 0.75rem;
}
.join_get .countimg img{
	width: 5.24rem;
	height: 4rem;
	margin:0 0.6rem .6rem;
}
.join_get .say_left{
	background-color: #fff;
}
.join_get .introduce_title{
	padding-top: 0.7rem;
}
/* store_join_content */
.store_join_content {
	padding-top: 0.48rem;
	border-top:3px solid #ff274f ;
	min-height: 540px;
}
.store_join_content li{
	line-height: 0.38rem;
	padding-bottom: 0.28rem;
	position: relative;
}
.store_join_content .store_join_left {
	width: 2.5rem;
	min-width: 112px;
	height: 0.38rem;
}
.store_join_content li span{
	color:  #ff274f ;
}
.store_join_content .input{
	height: 36px;
	vertical-align: middle;
	border: 1px solid #aaa;
	width: 248px;
	margin-right: 0.16rem;
	padding-left: 12px;
	position: relative;
}

.store_join_content .input input{
	width: 220px;
	line-height: 34px;
	font-size: 14px;
	color: rgb( 26, 29, 29 );
}
.store_join_content .input img{
	width: 16px;
	position: absolute;
	right: 4px;
	top: 14px;
}

.store_join_content p{
	color: rgb( 51, 51, 51 );
	font-size: 12px;
}
.morechoice{
	height: 110px;
	position: absolute;
	top:35px ;
	left: -1px;
	background: #fff;
	width: 262px;
	box-shadow: 0 0 2px 0 #f7f7f7;
	border-top: 0;
	z-index: 9;
	display: none;
	overflow-y: scroll;
}
.morechoice div{
	padding-left: 12px;
	line-height: 28px;
}
.morechoice div:hover,
.morechoice .active{
	background: #eeeeee;
}
.submit button,
.submit a{
	display: inline-block;
	width: 114px;
	height: 34px;
	line-height: 34px;
	background-color: #ff274f;
	color: #fff;
	text-align: center;
	border: 0;
	border-radius: 4px;   
	margin-top: 60px;
}
.showbox{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.5);
}
.showinner{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 50px 36px;
	background: #fff;
	font-size: 16px;
	margin-left: -236px;
	margin-top:  -125px;
	border-radius: 10px;
}
.showinner div{
	text-align: center;
}

/* joinus1 */
.graybody{
	background: #f5f5f5;
}
.join_box{
	border: 1px solid #d2d2d2;
	padding: 36px;
	margin: 34px 0 50px;
	background: #fff;
}
.positons li{
	float: left;
	width: 25%;
	line-height: 28px;
	font-size: 14px;
}
.positons li a{
	display:inline-block ;
	color: #898989;
	line-height: 28px;
	padding:0 20px 0 10px;
	border-radius: 4px;
}
.positons li.active  a{
	background-color: #ff274f;
	color: #fff;
}

.report_box_wrap{
	border: 1px solid #d2d2d2;
	background: #fff;
	margin:36px auto 42px;
}
.join_box  h3{
	font-size: 20px;
	line-height: 1.25;
	margin-bottom: 30px;
}
.report_box {
	padding: 0;
	width: 11.4rem;
	margin: 0 auto;
}
.report_box h4{
	font-size: 20px;
	line-height: 100px;
	border-bottom: 1px solid #bfbfbf;
	margin-bottom: 30px;
}

.report_box .text{
	text-indent: 2em;
	line-height: 26px;
	font-size: 14px;
}
.report_box .text1{
	margin: 36px 0 76px;
}
.report_box div.text{
	margin-bottom:74px ;
}
.pink{
	color: #ff274f;
}
.report_box div.pink{
	margin-bottom: 36px;
}
.form_report{
	line-height:32px;
}
.form_report div{
	margin-bottom: 10px;
}
.form_report li{
	/* height: 32px; */
	margin-bottom: 22px;
}
.form_report  input[type=text] {
	vertical-align: text-top;
	height: 30px;
	line-height: 30px;
	width: 324px;
	text-indent: 12px;
	font-size: 12px;
	border: 1px solid #dcdcdc;
}
.form_report  p{
	width: 90px;
	padding-left: 12px;
	font-size: 12px;
	position: relative;
	height: 32px;
}
.form_report  label{
	margin:0 20px 0 12px;
	word-break: keep-all;
}

.form_report .radios{
	width: auto;
}
.form_report .textarea{
	height: 106px;
	border: 1px solid #dcdcdc;
	width: 9rem;
	padding: 8px 12px;
	position: relative;
}
.textarea textarea{
	width: 100%;
	height: 100%;
	line-height: 16px;
	font-size: 12px;
}
.textarea span{
	position: absolute;
	bottom: 0;
	right: 12px;
	color: #c3c3c3;
}
.telephone .p{
	position: absolute;
	top: 14px;
	left: 50%;
	color:#c3c3c3 ;
	margin-left: -20px;
}
.graytext{
	color:#c3c3c3 ;
	margin: 8px 0 0 14px;
	display: inline-block;
}
.form_report .submit,
.box404 .submit{
	display: inline-block;
	border-radius: 2px;
	background-color: rgb( 255, 39, 79 );
	width: 90px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	margin-bottom: 36px;
}
.form_report p.radios{
	padding-left: 0;
}
input[type="radio"] {
	width: 12px;
	height: 12px;
	background-color:#dedede;
	-webkit-appearance:none;
	border:1px solid #a4a4a4;
	outline: none;
	border-radius: 50%;
}

input[type="radio"].checked {
	background-color: #ff274f;
	border-color: #a4a4a4;
	background-clip: content-box;
	padding:2px;
}

/* 404 */
.box404{
	height: 1116px;
	text-align: center;
}
.box404 .submit{
	width: 145px;
	height: 34px;
	line-height: 34px;
	border-radius: 4px;
}
.box404 {
	margin-top: 188px;
}
.box404 p{
	margin: 72px 0 28px;
	color: #686868;
}
/* question */
.question {
	padding-bottom: 60px;
}
.question h3{
	font-size: 20px;
	color: rgb( 40, 40, 40 );
	margin: 54px 0 26px;
}
.question dl{
	margin-bottom: 20px;
}
.question dt {
	padding:30px 0 20px;
	border-bottom:  1px solid #dcdcdc;
	margin-bottom: 30px;
	position: relative;
}
.question dt span{
    font-size: 16px;
    color: rgb( 255, 39, 79 );
	border-bottom: 1px solid #ff274f;
	padding-bottom: 20px;
	position: absolute;
	left: 0;
	top: 9px;
}

.question dd{
	border-bottom:  1px solid #dcdcdc;
	padding: 8px 0;
	line-height: 34px;
	font-size: 14px;
	color: #000000;
}
.question  div{
	background: url(../img/bottom.png) no-repeat right 50%;
}
.question .active div{
	color: #ff274f;
	background-image: url(../img/top.png);
}
.question dd p{
	display: none;
	color: #9d9d9d;
	text-indent: 2em;
}
.question .active p{
	display: block;
}
/* help */
.help{
	width:13.37rem;
	margin: 0 auto;
}
.pinkbg{
	width:13.37rem;
	padding: 11px 20px;
	box-sizing: border-box;
	line-height:24px;
	background:rgba(255,245,244,1);
}
.pinkbg span{
	margin-left: .6rem;
	font-size: 13px;
}
.hello{
	padding-left: 20px;
	color:rgba(51,51,51,1);
	line-height:22px;
	
	margin: 34px 0 15px;
}
.pinkborder{
	width:13.37rem;
	padding: 11px 20px;
	box-sizing: border-box;
	border:1px solid rgba(255,245,244,1);
	margin-bottom: 12px;
}
.pinkborder div{
	position: relative;
	margin: 32px 0 40px ;
	width:5.06rem;
	padding: 8px 12px;
	height:130px;
	border:1px solid rgba(160,160,160,1);
	margin-left: 0.5rem;
}
.pinkborder textarea{
	width: 100%;
	height:100px;
	margin-bottom: 12px;
}
.pinkborder span{
	width:5.2rem;
	position: absolute;
	top:120px;
	left:0;
	text-align: right;
	color:rgba(167,167,167,1);
	font-size: 14px;
}
.pinkborder ul,
.helpradio div{
	margin:16px 0 26px 50px;
	line-height: 24px;
}
.pinkborder ul input,
.helpradio input{
	margin-right: 20px;
}
.userinfo label{
	display: inline-block;
	padding-left: 50px;
	width: 78px;
	font-size: 14px;
	color:rgba(51,51,51,1);
}
.userinfo input{
	width:173px;
	height:18px;
	border:1px solid rgba(160,160,160,1);
	text-indent: 8px;
}
.help .submit{
	text-align: center;
	margin-bottom: 2rem;
}
.pinkbg .pink{
	margin-left: 0;
}
/* root */
.root_box_l{
	width: 2.5rem;
}
.root_box_l h2{
	font-size:20px;
	color:rgba(35,35,35,1);
	margin: 20px 0 30px 24px;
}
.roots div,
.roots dt,
.roots dd{
	font-size:0.18rem;
	color:rgba(1,1,1,1);
	margin-left: 0.18rem;
	line-height: 2.6;
	border-bottom: 1px solid #DCDCDC;
} 
.roots dt {
	background: url(../img/bottom.png) no-repeat 95% center;
	background-size: 0.16rem 0.08rem;
}
.roots .active dt{
	color: #FF274F;
	background-image: url(../img/top.png);
}
.roots dd {
	display: none;
	text-indent: 0.18rem;
	line-height: 2.2;
	font-size:0.14rem;
}
.roots .active dd{
	display: block;
} 
.root_box_r {
	width:11.2rem;
	border-left: 2px solid #D2D2D2;
	padding:0 0  60px 12px;
}

.rtop{
	font-size: .14px;
	color: #707070;
	line-height: 24px;
	border-bottom: 1px solid #EEEEEE;
	padding: 28px 8px 12px 0;
}
.rtop a{
	width:38px;
	height:24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	background:rgba(255,39,79,1);
	border-radius:2px;
	font-size: .14px;
	vertical-align: text-bottom;
}
.root_box_r .roots_detail{
	line-height: 2.5;
	font-size: .2px;
}
.root_box_r .roots_detail img{
	height: 11.42rem;
	width: 8.08rem;
	background-color: #EEEEEE;
	margin-bottom: 10px;
}
.root_box_r li{
	display: none;
}
.root_box_r li.active{
	display: block;
}

/* join_in */

.join_in_box,
.join_in_box img{
	height: 400px;
	color: #fff;
	margin-bottom: 130px;
}

.join_inner{
	width:750px;
	margin: 0 auto ;
}
.join_in_box .poster_info {
	width: 750px;
	height: 105px;
	bottom: -1rem;
	padding-top: 25px;
	margin-left: -375px;
}

.join_in_box h2{
	font-size: 0.34rem;
	padding: 50px 0 10px;
}
.introduce_join p{
	font-size: 0.18rem;
	color: #9F9F9F;
}
.introduce_join span{
	color: #FF274F;
	font-size:0.4rem;
	margin-right: 0.08rem;
}
.introduce_join li{
	width: 185px;
	line-height: 42px;
}
.join_in_button a{
	display: inline-block;
	width:201px;
	height:53px;
	line-height:53px;
	background:linear-gradient(90deg,rgba(230,13,53,1),rgba(255,45,84,1));
	border-radius:5px;
	color: #fff;
	text-align: center;
	margin-top: 16px;
}
.join_in_box .poster_info li{
	text-align: center;
	width: 25%;
	position: relative;
}
.join_in_box .poster_info div{
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size:0.2rem;
	color:rgba(255,44,83,1);
	background: url(../img/joinin1.png) no-repeat;
	background-size: contain;
	margin-bottom: 6px;
}
.join_in_box .poster_info p{
	font-size:0.13rem;
	color:rgba(159,159,159,1);
	line-height:18px;
}
.join_in_box .poster_info span{
	position: absolute;
	right: 0;
	top: 27px;
	width: 0;
	height: 46px;
	border-right: 1px solid #E5E5E5;
}
.cate_title{
	font-size: 0.26rem;
	color: #545454;
	text-align: center;
	margin-bottom: 0.62rem;
}
.cate_title span{
	margin: 0 0.4rem;
}
.cate_title em{
	display: inline-block;
	width: 132px;
	border-bottom: 1px solid #7D7D7D;
	vertical-align: middle;
}
.cate_list li{
	float: left;
	width: 25%;
	text-align: center;
	color: #3F403E;
	font-size: 0.18rem;
	line-height: 0.62rem;
	padding-bottom: 0.32rem;
}
.cate_list li img{
	display: inline-block;
	width: 50px;
	height: 46px;
}
.helps{
	color: #fff;
	background-color: #0E1230;
	height: 445px;
	margin-bottom: 40px;
	text-align: center;
}
.helps li{
	width: 33%;
	height: 445px;
	background: url(../img/zhulibg1.png) no-repeat ;
	background-size: cover;
	-webkit-background-size: cover;
}
.helps .hbg1{
	margin: 0 3px;
	box-sizing: border-box;
	background-image:url(../img/zhulibg2.png) ;
}
.helps .hbg2{
	background-image:url(../img/zhulibg3.png) ;
}
.helps h3{
	height: 26px;
	font-size: 26px;
	padding: 42px 0 50px;
}
.helps img{
	width:64px;
	height:64px;
	margin-bottom: 32px;
}
.helps div{
	font-size: 23px;
	position: relative;
	margin-bottom: 44px;
}
.helps div span{
	position: absolute;
	bottom: -14px;
	left: 50%;
	margin-left: -20px;
	border: 2px solid #fff;
	width: 40px;
}
.helps p{
	font-size: 12px;
	line-height: 2;
}
.company{
	text-align: center;
}
.images{
	margin-right: -20px;
}
.images li{
	float: left;
	width: 130px;
	height: 100px;
	box-shadow:0px 0px 9px 1px rgba(0, 0, 0, 0.05);
	margin: 0 20px 12px 0;
}
.images li img{
	width: 123px;
	height: 94px;
}
.company .submit a {
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 40px 0 20px;
}

.benchmarking{
	height: 444px;
	background-color: #0E1231;
	color: #fff;
}
.bechmarking_option{
	border: 7px solid #FF274F;
	padding: 10px 10px 2px 10px ;
	box-sizing: border-box;
	position: relative;
}
.topred,
.topred div{
	position: absolute;
	top: -26px;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color:#FF274F;
}
.topred div{
	top: 0;
	border-bottom-color:#0E1231;
}
.benchmarking .cate_title{
	margin: 30px 0 50px;
}
.bechleft li{
	width: 156px;
	height: 58px;
	background: #FDFDFD url(../img/pp11.png) no-repeat center center;
	background-size: contain;
	position: relative;
	overflow: hidden;
	margin: 0 20px 8px 0;
	opacity: .5;
}
.bechleft .active{
	opacity: 1;
}
.bechleft .bl1{
	background-image: url(../img/pp4.png);
}
.bechleft .bl2{
	background-image: url(../img/pp9.png);
}
.bechleft .bl3{
	background-image: url(../img/pp2.png);
}
.bechright{
	width: 520px;
}
.bechright p{
	display: inline-block;
	font-size: 20px;
	line-height:36px;
	border-bottom: 7px solid #FF274F;
	margin: 8px 0 4px;
}
.bechright dl{
	display: none;
}
.bechright dl.active{
	display: block;
}
.bechright dd{
	font-size: 14px;
	line-height:26px;
}
